body{
    background-color: bisque;
}

h1{
    color: deeppink;
    text-align: center;
    text-decoration: dotted;    
}

p{
    color: darkblue;
    text-shadow: 0cqmax;
    text-decoration:underline

}

h4{
    text-align: justify;
}